

@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body{
    font-family: "Doppio One", sans-serif;

}


:root {
  /* Background */
  --primary: #090909;
  --secondary: #343a40;
  --light-text: #f8f9fa;
  --dark-text: #6c757d;

  --text-mid: #dee2e6;

  /* cards */
  --cards:#212529;

  /* Borders */
  --border: #ced4da;

  /* Gray */
  --color-gray-light: #adb5bd;
 
  --color-gray-dark: #495057;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-light-text: var(--light-text);
  --color-dark-text: var(--dark-text);

  --color-mid-text: var( --text-mid);

  --color-border: var(--border);
  --color-card: var(--cards);

  --color-gray-light: var(--color-gray-light);
 
  --color-gray-dark: var(--color-gray-dark);
}


/* body {
  cursor: none;
} */

